
body {
    margin: 0;
    color: white;
    background-color: black;
}

header.header img {
    width: 150px;

margin: 2%;
}

header.header {
    display: flex;
    align-items: center;
}

nav.nav {
    display: flex;
    justify-content: space-around;
    width: 80%;
    height: 80px;
    color: white;
    list-style: none;
    font-size: 18px;
}

a:hover {
    color: #7e3300;
}

section.top-page {
    background: black;
    background-size: cover;
    height: 30vh;
    
}

h1 {
    color: white;
    font-size: 98px;
}
a {
    color: white;
    text-decoration: none;
}

.history-page {
    margin: 50px;
}

.history-title {
    color: white;
    font-size: 70px;
   font-weight: 100;
   position: relative;
   text-align: center;
 }

 .history-title::before {
    content: "";
    position: absolute;
    background-color: #7e3300;
    width: 70px;
    height: 7px;
    bottom: 0;
 }

 .history-title2 {
    color: white;
    font-size: 50px;
   font-weight: 70;
   position: relative;
 }

 .history-title2::before {
    content: "";
    position: absolute;
    background-color: #7e3300;
    width: 50px;
    height: 5px;
    bottom: 0;
 }

 .history-title3 {
    color: white;
    font-size: 50px;
   font-weight: 70;
   position: relative;
 }

 .history-title3::before {
    content: "";
    position: absolute;
    background-color: #7e3300;
    width: 31px;
    height: 5px;
    bottom: 0;
 }

 .egypte {
    text-align: center;
}

.egypte img {
    width: 50vh;
}

.grece {
    text-align: center;
}

.grece img {
    width: 50vh;
}

.moyen-age {
    text-align: center;
}

.moyen-age img {
    width: 50vh;
}

.revolution {
    text-align: center;
}

.revolution img {
    width: 50vh;
}

.superstition {
    text-align: center;
}

.superstition img {
    width: 50vh;
}

.contemporaine {
    text-align: center;
}

.contemporaine img {
    width: 50vh;
}


 footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 100px;
    font-weight: 600;
    color: white;
}